<p>Add a new employment</p>
<p>jobTitle</p>
<input type="text" id="jobTitle">
<p>Employmentdescription</p>
<input type="text" id="Employmentdescription">
<p>timespan</p>
<input type="text" id="Employmenttimespan">
<button id="addEmployment">Submit</button>

<p>Add a new skill</p>
<p>name</p>
<input type="text" id="name">
<p>Skilldescription</p>
<input type="text" id="Skilldescription">
<button id="addSkill">Submit</button>

<p>Add a new extracurricular</p>
<p>Roletitle</p>
<input type="text" id="Roletitle">
<p>Extracurriculardescription</p>
<input type="text" id="Extracurriculardescription">
<p>Extracurriculartimespan</p>
<input type="text" id="Extracurriculartimespan">
<button id="addExtracurricular">Submit</button>

<p>Add a new project</p>
<p>Projecttitle</p>
<input type="text" id="Projecttitle">
<p>Projectdescription</p>
<input type="text" id="Projectdescription">
<p>Github link</p>
<input type="text" id="github">
<button id="addProject">Submit</button>

<p>Add a new responsibility</p>
<p>responsibility</p>
<input type="text" id="responsibility">
<p>Assoicated Employment ID</p>
<input type="text" id="EmploymentsId">
<p>Assoicated Extracurricular ID</p>
<input type="text" id="ExtracurricularsId">
<p>Assoicated Project ID</p>
<input type="text" id="ProjectsId">
<button id="addResponsibility">Submit</button>

<p>Add an Employment-Skills association</p>
<p>Employment ID</p>
<input type="text" id="EmploymentAssociationId">
<p>Skills ID</p>
<input type="text" id= "EmploymentSkillsAssociationId">
<button id ="Employment-Skills-Association">Submit</button>

<p>Add a Project-Skills association</p>
<p>Employment ID</p>
<input type="text" id="ProjectAssociationId">
<p>Skills ID</p>
<input type="text" id= "ProjectSkillsAssociationId">
<button id ="Project-Skills-Association">Submit</button>

<p>Add a Extracurricular-Skills association</p>
<p>Extracurricular ID</p>
<input type="text" id="ExtracurricularAssociationId">
<p>Skills ID</p>
<input type="text" id= "ExtracurricularSkillsAssociationId">
<button id ="Extracurricular-Skills-Association">Submit</button>