<nav>
    <div class="nav-wrapper">
        <a class="brand-logo">Samuel Barrow's Portfolio</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/">About Me</a></li>
            <li><a href="/employments">Employment History</a></li>
            <li><a href="/skills">Skills</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/extracurriculars">Extracurriculars</a></li>
            <li><a href="/resume">Resume</a></li>
        </ul>
    </div>
</nav>
<br>
<div class="container">
    <div class="row">
        <div class="col offset-13 s12 m12">
            <div class="card-panel grey lighten-5 z-depth-1">
                <div class="row valign-wrapper">
                    <div class="col s3">
                        <img src="/assets/Sam-Barrow.jpg" alt="" class="circle responsive-img">
                        <!-- notice the "circle" class -->
                    </div>
                    <div class="col s9">
                        <h1 style="text-align: center;">About me</h1>
                        <span class="black-text">
                            Hello! My name is Samuel Barrow, I am a senior Chemical Engineering student at UC Berkeley
                            and aspiring full stack developer.
                            <h5 style="text-decoration: underline;">Education</h5>
                            I started my college career in Bellingham, WA at Whatcom Community College. During my first
                            year there, I met my mentor
                            Dr. Tommasso Vanneli who offered me the oppurtunity to do chemistry research. The experience
                            made me interested in the field of chemistry,
                            which influenced me to transfer to UC Berkeley to study Chemical Engineering in the Fall of
                            2018.
                            <br><br>
                            Upon transfering to UC Berkeley, I immediately got involved in the scientific research scene
                            by joining Dr. Judith Klinman's research laboratory. Dr. Klinman is a well renown for her
                            work on biological enzyme catalysis, which was a topic I was very interested in at the time,
                            so I was very excited to become part of her research group and remain in the group to this
                            day.
                        </span>
                    </div>
                </div>
                <div>
                    <h5 style="text-decoration: underline;">Interest in Coding</h5>
                    Although I still love the world of science, multiple years of conducting scientific research has
                    convinced me that I do not want to go to graduate school and start a career in scientific research.
                    My career Interests started to dramatically shift during my second year at UC Berkeley when I
                    started taking computer science classes. I discovered my love for coding, and the infinite
                    possibilities that it offered. These computer science courses inspired me to enroll in a full stack
                    web development bootcamp through UC Berkeley Extension the following summer, where I learned how to
                    apply my computer science knowledge to build full stack, useful applications.
                    <br><br>
                    <h5 style="text-decoration: underline;">My Work and Accomplishments</h5>
                    Check out my projects and relevant skills using the Navbar button at the top right of this page. New
                    projects and updates are continuously being made to this portfolio page.
                    <br><br>
                    <h5 style="text-decoration: underline;">Contact Me</h5>
                    If you would like to contact me, please feel free to email be at <a
                        href="sbarrow825@berkeley.edu">sbarrow825@berkeley.edu</a> or call/text me at 619-994-5066, I would love to get in touch.
                    <h5 style="text-decoration: underline;">Other Resources</h5>
                    <br>
                    <a href="https://github.com/sbarrow825">My Github Profile</a>
                    <br>
                    <a href="https://www.linkedin.com/in/sam-barrow/">My LinkedIn Profile</a>
                </div>
            </div>
        </div>
    </div>
</div>