  <nav>
    <div class="nav-wrapper">
      <a class="brand-logo">Samuel Barrow's Portfolio</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">About Me</a></li>
        <li><a href="/employments">Employment History</a></li>
        <li><a href="/skills">Skills</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/extracurriculars">Extracurriculars</a></li>
        <li><a href="/resume">Resume</a></li>
      </ul>
    </div>
  </nav>

<div class="container">
    <br><br>
    <img src="/assets/SamuelBarrowResumeImage.jpg">
    <h5>Resume Google Doc <a href="https://docs.google.com/document/d/1rQYdyvs1t3_zcwdfYIZCwLMnTUHyK5R_d6SX3lC6iY0/edit?usp=sharing">link</a></h5>
</div>